body{
  background-color: black;
}
.big-container{
  max-width: 1200px;
  height: 500px;
  top: 30px;
  margin: 70px auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}
.img-container{
  text-align: center;
  background-size: cover;
  transition: 500ms;
  overflow: auto;
  overflow-wrap: break-word;
}
.img-container:hover{
  text-align: center;
  background-size: cover;
  filter: brightness(20%);
  transition: 500ms;
}
p{
  margin-top: 20px;
  margin-left: auto;
  
}

/* test */