body{
  background-color: black;
}
.big-container{
  max-width: 1200px;
  height: 500px;
  top: 30px;
  margin: 70px auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
}
.img-container{
  text-align: center;
  background-size: cover;
  background-position: center;
  transition: 500ms;
  overflow: auto;
  overflow-wrap: break-word;
}
#info-content{
  padding-left-left: auto;
  font-family: sans-serif;
  color: #f3f8d9;
  transition: 500ms;
  opacity: 0;
  margin: 0;
  height: 100%;

}
#info-content:hover{
  opacity: 1; 
  font-family: sans-serif;
  color: #f3f8d9;
  text-align: center;
  transition: 500ms;
  padding-left-left: auto;
  background: rgba(0, 0, 0, 0.70);
}

#info-heading{
  margin: 0;
  padding-top: 20px;
}